body
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('images/stardust.png');
}

h1
{
  font-size: 5rem;
  color: #79d897;
  font-family: cursive;
}

.record
{
  width: 10vw;
  height: 10vw;
}

.smallrecord
{
  width: 4vw;
  height: 4vw;
}

.recordheart
{
  width: 12vw;
  height: 11vw;
}

.message
{
  font-size: 2rem;
  color: #79d897;
  font-family: cursive;
}
